* { padding:0; margin:0; font-weight:inherit; color:inherit; box-sizing:border-box; }
body { min-width:1320px; font-size:15px; font-weight:400;
  @media(max-width:767px){ min-width:320px; }
}
ul,ol,li { list-style:none; }
a { color:inherit; text-decoration:none; }
img { max-width:100%; max-height:100%; }

$table-max : 1280px;
$desktop-min: 1440px;

@mixin table{
  @media(max-width: $table-max){
    @content;
  }
}

@mixin desktop{
  @media(max-width: $desktop-min){
    @content;
  }
}

.loading { width:100vw; height:100vh; background-color:#fff; position:fixed; top:0; right:0; bottom:0; left:0; z-index:31; display:flex; align-items:center; justify-content:center; }
.layout-fix { width:1280px; padding:0 20px; margin:0 auto;
  @media(max-width:767px){ width:100%; }
}

header {
  height:70px; padding:18px 0; background-color:#fff; position:fixed; top:0; right:0; left:0; z-index:30; border-bottom:1px solid #eee;
  .layout-fix { display:flex; align-items:center; justify-content:space-between; }
  h1 { width:32px; height:32px; display:inline-block; }
  h1 a { width:32px; height:32px; display:block; }
  .gnb li { margin-left:32px; color:#444; display:inline-block; }
  .gnb li a.active { font-weight:500; }
  .gnb li a:hover { text-decoration:underline; }
}

main {
  // padding:80px 0 100px;
  padding:70px 0 80px;

  .section-visual {
    .upMovie {
      position:relative;
      .mat { width:1280px; padding:0 20px; margin:0 auto; position:absolute; top:100px; right:0; left:0;
      @media (max-width:767px) { width:100%; padding:0; position:relative; top:auto; }
      }
      
      .upComingImg {
        @media(max-width:767px) { display:none; }
        img { width:100%; max-height:740px; object-fit:cover; }
      }
      .upComingInfo {
        height:540px; padding:40px; background-color:rgba(255,255,255,.25); display:flex; gap:40px; backdrop-filter:saturate(1) blur(16px);
        @media(max-width:767px){ width:100%; height:auto; padding:0; flex-direction:column; gap:0; }
        .infoImg img {
          @media(max-width:767px) { width:100%; display:block; }
        }
        .infoTxt {
          padding-top:40px;
          @media(max-width:767px){ padding:24px 20px; background-color:#222; color:#fff; }
          .title { margin-bottom:12px; font-size:42px; font-weight:700;
            @media(max-width:767px){ margin-bottom:6px; font-size:18px; }
          }
          .overview { max-width:500px; margin-bottom:8px; line-height:1.48; word-break:keep-all;
            @media(max-width:767px){ font-size:14px; }
          }
          .date {
            @media(max-width:767px){ font-size:13px; color:#999; }
          }
        }
      }
    }
  }

  section[class^="mov"] {
    padding:80px 0;
  }
  [class^="mov"] ~ [class^="mov"]{
    border-top:1px solid #eee;
  }

  .movSearch {
    .layout-fix { max-width:600px; }
    .search-box {
      display:flex; gap:8px;
      input { height:50px; padding:0 24px; border:1px solid #eee; flex:1; outline:none;
      &:focus { border:1px solid #666; transition:.2s ease; }
      }
      button { width:50px; height:50px; background-color:#666; font-size:18px; color:#fff; border:0; cursor:pointer;
      &:hover { background-color:#222; transition:.2s ease; }
      }
    }
    .search-list { margin-left:-10px; display:flex; flex-wrap:wrap;
      li { width:20%; padding-top:20px; padding-left:10px;
        a { display:block;
          img { width:100%; border:1px solid #eee; display:block; aspect-ratio:1/1.5; }
          .title { margin-top:6px; line-height:1.28; font-size:13px; word-break:keep-all;
          &:hover { color:#ff3e3e; text-decoration:underline; }
          }
          .date { margin-top:2px; font-size:11px; color:#666; display:block; }
        }
      }
    }
  }
  .searchDetail { padding-top:80px;
    .mov-back { display:flex; opacity:0; animation:loadIn .75s .25s forwards alternate;
      @keyframes loadIn {
        0%{ opacity:0; transform:translate(0,30px); } 100%{ opacity:1; transform:translate(0,0); }
      }
      .mov-poster { width:480px; min-width:480px; padding-right:80px; }
      .mov-info { flex:1; border:0;
        .date { margin-bottom:4px; font-size:14px; color:#999; }
        h2 { max-width:85%; font-size:36px; font-weight:300; text-indent:-4px; word-break:keep-all; letter-spacing:-.5px; }
        h3 { margin-top:4px; font-size:24px; color:#444; letter-spacing:-.5px; }
        .desc { max-width:75%; margin:12px 0 40px; line-height:1.62; font-size:15px; color:#666; word-break:keep-all; }
        .actor-list { margin-left:-12px; display:flex; flex-wrap:wrap;
          li { width:12.5%; padding-bottom:24px; padding-left:12px;
            .name { font-size:11px; }
            .character { font-size:11px; color:#666; }
          }
        }
      }
    }
  }

  .movNow {
    // padding:80px 0;
    h2 { margin-bottom:32px; text-align:center; font-size:24px; }
    .now {
      .mov-list { margin-left:-20px; display:flex; flex-wrap:wrap;
        @media(max-width:767px) { margin:0; display:block; }
        li { width:25%; padding-bottom:40px; padding-left:20px; text-align:center;
          @media(max-width:767px){ width:100%; display:flex; flex-wrap:wrap; }
          a {
            @media(max-width:767px){ display:flex; flex-wrap:wrap; }
          }
          img { width:100%;
          @media(max-width:767px) { margin-bottom:10px; flex:1 0 100%; }
          }
          .tit { margin-top:12px;
          @media(max-width:767px){ max-width:85%; margin:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
          }
          .tit-en { max-width:80%; margin:2px auto 0; font-size:13px; color:#666; word-break:keep-all;
          @media(max-width:767px) { max-width:100%; text-align:left; margin-top:4px; flex:1 0 100%; order:1; }
          }
          .vote { margin-top:6px; font-size:13px; color:#444;
          @media(max-width:767px) { margin:0 0 0 auto; }
          }
        }
      }
    }
    .more {
      margin-top:20px;
      .btnMore { width:160px; height:46px; margin:0 auto; background-color:#ff3e3e; color:#fff; border:0; display:block; cursor:pointer;
      &:hover { box-shadow:0 4px 12px rgba(62,68,255,.4); transition:.25s ease; }
      }
    }
  }

  .movComing {
    h2 { margin-bottom:32px; text-align:center; font-size:24px; }
    .swiper-slide {
      a {
        // > img { width:100%; height:600px; object-fit:cover; display:block; }
        > img { width:100%; aspect-ratio: 1 / 1.5; display:block; }
        .tit { margin-top:12px; font-size:18px; }
        .tit-en { margin-top:2px; font-size:14px; color:#666; }
      }
    }
    .swiper-pagination {
      margin-top:40px;
      position:relative;
    }
  }

  &:has(.movDetail) { padding-bottom:0; }
  .movDetail { position:relative;
    > img { width:100%; height:90vh; display:block; object-fit:cover; }
    .overlayInfo { background-color:rgba(0,0,0,.5); color:#fff; position:absolute; top:0; right:0; bottom:0; left:0; display:flex; justify-content:center; flex-direction:column;
      .vote { margin-bottom:12px; font-size:16px; font-weight:500; color:#ffe000;
      &::before { content:'★ '; }
      }
      .title { text-align:left; font-size:36px; }
      .titleEn { line-height:1.62; font-size:20px; color:#bbb; }
      .desc { max-width:600px; margin:12px 0 32px; line-height:1.52; font-size:16px; }
      .genres {
        span { padding:6px 12px 8px; margin-right:8px; background-color:rgba(255,255,255,.2); font-size:13px; border-radius:4px; display:inline-block; }
      }
      .date { margin-top:32px; font-size:12px; }
    }
  }

  > [class^="p-"]{ padding-top:80px; }
  .heading-title { margin-bottom:24px; font-size:36px; }
  // p-movies
  .p-movies {
    .mov-list { border-top:1px solid #222;
      li { padding:20px 0; border-bottom:1px solid #eee; display:flex; justify-content:space-between;
        .title { font-size:16px; }
        .year { margin-right:24px; margin-left:auto; color:#666; }
        .btnRemove { width:24px; height:24px; background-color:transparent; font-size:12px; color:#666; border:1px solid #eee; cursor:pointer;
        &:hover { color:#222; border:1px solid #666; }
        }
      }
    }
    form { text-align:right; position:relative;
      &::before { content:''; width:1px; height:10px; background-color:#666; position:absolute; top:8px; right:238px; display:inline-block; }
      input { width:200px; height:35px; padding-right:20px; padding-bottom:12px; border:0; outline:none; }
      input ~ input { padding-left:20px; }
      .err { color:red; }
      button { width:38px; height:30px; padding-bottom:4px; background-color:#222; font-size:12px; color:#fff; border:0; cursor:pointer; }
    }
  }

  .p-users {
    .user-list { margin-left:-20px; display:flex; flex-wrap:wrap;
      > li { width:33.333%; padding-bottom:20px; padding-left:20px;
        @media(max-width:767px){ width:50%; }
        .list-cont { height:100%; padding:24px 32px; border:1px solid #eee; border-radius:2px; display:block; cursor:pointer;
          &:hover { border:1px solid #ff3e3e; transition:.25s ease; }
          &:hover .idx { background-color:#ff3e3e; transition:.25s ease; }
          &:hover .name { color:#ff3e3e; transition:.25s ease; }
        }
      }
    }
    .idx { min-width:30px; padding:6px 10px 8px; margin-bottom:12px; text-align:center; background-color:#222; font-size:13px; font-weight:500; color:#fff; display:inline-block; }
    .modal { padding-bottom:60px; background-color:rgba(0,0,0,.5); position:fixed; top:0; right:0; bottom:0; left:0; z-index:31; display:flex; align-items:center; justify-content:center; flex-direction:column;
      .btnClose { width:40px; padding-left:1px; margin-bottom:12px; line-height:38px; text-align:center; color:#fff; border:1px solid #fff; border-radius:100px;
      &:hover { transform:rotate(180deg); transition:.35s ease; }
      }
      .user-info { min-width:500px; max-width:1280px; padding:40px; background-color:#fff; word-break:break-word;
        @media(max-width:767px){ width:calc(100vw - 40px); min-width:280px; padding:36px 24px 24px; }
        tr {
        @media(max-width:767px){ display:flex; flex-direction:column; }
        }
        th { min-width:70px; height:30px; padding-right:16px; text-align:left; color:#444;
        @media(max-width:767px){ height:auto; }
        }
        td {
        @media(max-width:767px){ padding-top:4px; padding-bottom:12px; }
        }
      }
    }
  }

  [class^="swiper-button-"]{ color:#ff3e3e; }
  .swiper-pagination-bullet { background-color:#ff3e3e; }

}

footer {
  height:200px; padding:40px 0; background-color:#222; color:#fff;
}

.quick-top {
  position:fixed; right:40px; bottom:80px; z-index:30;
  button { width:56px; height:56px; padding-top:4px; background-color:#ff3e3e; font-size:18px; color:#fff; border:0; border-radius:100px; cursor:pointer; }
}
